[Unit]
Description=Daily PetSoul backup

[Timer]
OnCalendar=*-*-* 20:10:00 UTC
Persistent=true
RandomizedDelaySec=300

[Install]
WantedBy=timers.target

